name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:

  lint-build:
    name: Black-and-flake
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dev dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -U black flake8 pep8-naming
    - name: Black
      run: |
          black --check .
    - name: Flake8
      run: |
          flake8 .
    - name: Build docs
      if: matrix.DOCS == 1
      run: |
          pushd docs
          make html
          popd

  docs-build:
    name: Docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dev dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -U -r docs/docs_requirements.txt
    - name: Build docs
      run: |
          cd docs
          make html PHINXOPTS="-W" --keep-going

  test-builds:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Test lint & docs
            os: ubuntu-latest
            pyversion: '3.8'
          - name: Test Linux py36
            os: ubuntu-latest
            pyversion: '3.6'
          - name: Test Linux py37
            os: ubuntu-latest
            pyversion: '3.7'
          - name: Test Linux py38
            os: ubuntu-latest
            pyversion: '3.8'
          - name: Test Linux py39
            os: ubuntu-latest
            pyversion: '3.9'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.pyversion }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.pyversion }}
    - name: Install dev dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -U numpy wgpu jinja2
          pip install -U pytest
    - name: Unit tests
      run: |
          pytest -v tests
